
.clock-container {
    text-align: left;
    background-color: transparent;
    padding: 10px;
    border-radius: 5px;
    margin-left: 50px;
  }
  
  .clock-title {
    font-size: 20px;
    color: white;
    background-color: transparent;
  }
  
  .clock-time {
    font-size: large;
    color: white;
    margin-top: 10px;
    background-color: transparent;
  }