@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100vh;
    background: linear-gradient(to bottom right, lightblue, rgb(251, 251, 152));  
  }
  
  .welcommingH1 {
    font-family: 'Roboto', sans-serif;
    background: seetrought; 
  }

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%; /* <-- set a maximum width */
    min-width: 50%;
    margin: 0 auto; /* <-- center the form */
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 50px;
  }

  .login-form:hover {
    box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.5);
  }
  
  .loginRole,
  .loginId,
  .loginPassword {
    width: 100%; /* <-- Ensure these are responsive too */
    max-width: 300px; /* <-- But they don't get too large on big screens */
  }

  .loginOptions {
    text-align: center;
  }

  .login-form label {
    font-size: 1.3em;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .login-form input,
  .login-form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  .login-form input[type="submit"] {
    color: #ffffff;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* <-- Make it responsive */
    max-width: 300px; /* <-- But don't let it get too wide */
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .loginButton {
    font-size: large;
  }
