.examine-tests {
    display: flex;
    flex-direction: column;
    color: #333;
    background-color: #f2f2f2;
    min-height: 1500px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: darkslategrey;
    color: #fff;
  }
  
  .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
  }
  
  .grade {
    color: #dc3545;
    background-color: #e6f7ff;
  }
  
  .hamburger {
    font-size: xx-large;
    background: darkslategrey;
    position: relative;
    cursor: pointer;
  }
  
  .LogoutButtonTeacher {
    font-size: 40px;
    position: relative;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .HeaderTeacher {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
  }
  
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .student {
    border: 1px solid black;
    background-color: #e6f7ff;
    padding: 10px;
    margin-bottom: 20px; /* Adds margin between each student box */
    width: 800px; /* Set a fixed width for each box */
    box-sizing: border-box; /* This makes sure the padding and border are included in the box's total width */
  }
  
  .student-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .student h2 {
    margin: 0;
    margin-right: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;  /* Truncate the text if it's too long */
    flex-grow: 1;  /* Allow the name to take up as much space as possible */
  }
  
  .student p {
    margin: 0;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .sortButtons {
    display: flex;
    flex-direction: column;
    gap: 10px;  /* Space between buttons */
    margin-bottom: 20px;  /* Space between buttons and names */
  }

  .sortButtons select {
    width: 500px;  /* Set the width */
    height: 40px;  /* Set the height */
    font-size: 20px;    
  }
  .sortButtons input {
    width: 492px;  /* Set the width */
    height: 40px;  /* Set the height */
    font-size: 20px;
  }  
  
  .addStudent {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(97, 183, 212);
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }

  .buttonAdd {
    color: white;
  }

  