.StudentView-Container {
  background: linear-gradient(to top right, lightblue, lightyellow);
}

  .StudentView-TopBar {
    background-color: darkslategrey;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px
  }

  .Student-LogOutButton {
    font-size: 42px;
    color: white;
    margin-top: 20px;
    margin-right: 200px;
  }


  .TestOptions {
    min-height: 1500px;
  }
  
  .TextContainer {
    justify-content: center;
    align-items: center;
  }
  
  p {
    color: white;
    font-size: 18px;
  }
  
  .LogoutButton {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 24px;
    margin-right: 50px;
  }

  .TestContainerButton {
    background-color: rgb(255, 223, 223);
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    margin-top: 50px;
  }
  
  .TestContainerButton:hover {
    background-color: rgb(211, 209, 209);
  }

  .TestContainerTitle {
    background-color: lime;
    color: black;
    height: 30px;
    width: 1020px;
    border: 1px solid black;
  }
  
  .TestContainer {
    width: 1000px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TestContainerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .InfoText {
    display: flex;
    flex-direction: row;
    color: black;
    margin-top: 0px;
  }
  
  