.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .TextContainer {
    justify-content: center;
    align-items: center;
    background-color: darkslategrey;
  }
  
  .Title {
    background-color: darkslategrey;
  }
  
  p {
    background-color: darkslategrey;
    color: white;
    font-size: 18px;
  }
  
  .LogoutButton {
    background-color: #dc3545;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 24px;
    margin-right: 50px;
  }

  .TestContainerButton {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
    margin-top: 50px;
  }
  
  .TestContainerButton:hover {
    background-color: #e0e0e0;
  }

  .TestContainerTitle {
    background-color: lime;
    color: black;
    width: 100%;
  }
  
  .TestContainer {
    width: 1000px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .TestContainerInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-direction: column;
    align-items: center;
  }

  .InfoText {
    display: flex;
    flex-direction: row;
    background-color: white;
    color: black;
    margin-top: 0px;
  }
  
  