.teacher-view {
  display: flex;
  flex-direction: column;
  color: #333;
  background-color: #f2f2f2;
  min-height: 1500px;
}

body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: darkslategrey;
  color: #fff;
  width: 100%;
  /* Stretch across full width */

}


  .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
    z-index: 1;
  }

  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
  }

.graph {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.alert {
  padding: 10px;
  background-color: #ffc107;
  color: #333;
  border-radius: 5px;
}

.hamburger {
  font-size: 2rem;
  background: darkslategrey;
  position: relative;
  cursor: pointer;
}

.close-button {
  font-size: 2rem;
  cursor: pointer;
  margin-top: 20px;
}

.LogoutButtonTeacher {
  font-size: 2rem;
  position: relative;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.HeaderTeacher {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: darkslategrey;
}

.alert {
  margin-bottom: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.grade-chart {
  max-width: fit-content;
  height: auto;
  margin: 0 auto;
}

.grade-chart-container {
  display: flex;
  flex-direction: column; /* Updated this */
  align-items: center; /* Adjusted to center */
  margin-bottom: 20px; /* Gives some space at the bottom if necessary */
}

.average-grade-container {
  max-width: fit-content;
  text-align: center;
  margin-bottom: 20px; /* Added margin for spacing between the average grade and the chart */
}


/* For screens smaller than 768px */
@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

/* For screens larger than 1200px */
@media (min-width: 1200px) {
  .header {
    padding: 4rem;
  }

  .hamburger, .close-button, .LogoutButtonTeacher {
    font-size: 4rem;
  }
}

