.clock-container {
    text-align: left;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
  .clock-title {
    font-size: 20px;
    color: black;
  }
  
  .clock-time {
    font-size: large;
    color: black;
    margin-top: 10px;
  }
